<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UIdESIGN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" />

</head> 
<body>
    <header>
     
        <nav class="navbar navbar-expand bg-info navbar-dark navbar-fixed-top ">
            <a class="navbar-brand">User Info</a>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Design"><i class="fas fa-user-edit"></i>Account</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddItem"><i class="fas fa-cart-plus"></i>New Product</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="OrderDetails"><i class="fas fa-history"></i>Purchase History</a></li>
                </ul>
                <ul class="nav navbar-nav my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link"><i class="fas fa-hand-paper"></i> Hi @User.Identity.Name Welcome!</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>*@
                </ul>
            }
            else
            {

            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - UIdESIGN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
    </footer>
<script>
    var url = {
        historyOrder: '@Url.Action("Order","Home")',
        updateHistory: '@Url.Action("Update","Home")',
        removeHistory: '@Url.Action("Remove","Home")',
        addProduct: '@Url.Action("AddProduct", "Home")'
    };
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
    @RenderSection("Scripts", false)
    @RenderSection("OrderScript", false)
    @RenderSection("AddScript", false)

</body>
</html>
