@model IEnumerable<UIdESIGN.Models.Add>
@{

}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>Purchase</title>
<style>
    img{
        width:200px;
        border-radius:100px;
        float:left;
        padding: 10px;
    }
</style>
@foreach (var item in Model)
{
    <div>
        <img src="@item.image" alt="Image Preview"/>
    </div>
    @*<div class="mt-5 pt-5 col-md-8 offset-3">
            <div class="card">
                <div class="card-header"><i class="fas fa-cart-plus"></i>Product</div>
                <div class="card-body">
                    <div class="card-group"></div>
                    <form method="post" id="formdata" enctype="multipart/form-data">
                        <div class="form-group offset-1">
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="image-preview" id="imagePreview">
                                    <img src="@item.image" alt="Image Preview" class="image-preview__image" height="150px" width="150px" />
                                </div>
                            </div>
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Product Name</span>
                                </div>
                                <input type="text" id="date1" asp-for="@item.iName" disabled class="form-control">
                            </div>
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Product Description</span>
                                </div>
                                <input type="text" id="date2" asp-for="@item.iDesc" disabled class="form-control">
                            </div>
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Product Code</span>
                                </div>
                                <input type="text" id="date2" asp-for="@item.iCode" disabled class="form-control">
                            </div>
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Amount</span>
                                </div>
                                <input type="number" id="date2" asp-for="@item.Amount" disabled class="form-control">
                            </div>
                            &nbsp;&nbsp;
                            <div class="input-group col-md-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Available</span>
                                </div>
                                <input type="number" id="date2" asp-for="@item.Quantity" disabled class="form-control">
                            </div>
                            &nbsp;
                            <div class="col-md-11">
                                <button type="submit" id="sekret" class="form-control btn btn-info btn-block"><span class="fas fa-plus"></span>Purchase</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <i>Product Version2021</i>
                </div>
            </div>
        </div>*@
}



